.catalog {
  height: 100%;
  padding-bottom: 20px;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}
.title {
  padding: 60px;
  margin: 0px;
  text-align: center;
}
.swiperWrap {
  position: absolute;
  max-width: 1200px;
  margin: auto;
}

@media only screen and (max-width: 1024px){
  .container {
    max-width: 900px;
  }
  .swiperWrap {
    max-width: 900px;
  }
}
